In [1]:
import pandas as pd
import numpy as np
df = pd.read_csv('/content/sample_data/StudentsPerformance.csv')

In [2]:
df

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75
...,...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,88,99,95
996,male,group C,high school,free/reduced,none,62,55,55
997,female,group C,high school,free/reduced,completed,59,71,65
998,female,group D,some college,standard,completed,68,78,77
999,female,group D,some college,free/reduced,none,77,86,86

In [3]:
df.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [4]:
df.tail()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
995,female,group E,master's degree,standard,completed,88,99,95
996,male,group C,high school,free/reduced,none,62,55,55
997,female,group C,high school,free/reduced,completed,59,71,65
998,female,group D,some college,standard,completed,68,78,77
999,female,group D,some college,free/reduced,none,77,86,86

In [7]:
type(df)

pandas.core.frame.DataFrame

In [9]:
df.shape

(1000, 8)

In [10]:
df.size

8000

In [11]:
df.ndim

2

In [12]:
df.columns

Index(['gender', 'race/ethnicity', 'parental level of education', 'lunch',
       'test preparation course', 'math score', 'reading score',
       'writing score'],
      dtype='object')

In [13]:
type(df.columns)

pandas.core.indexes.base.Index

In [15]:
df.dtypes

gender                         object
race/ethnicity                 object
parental level of education    object
lunch                          object
test preparation course        object
math score                      int64
reading score                   int64
writing score                   int64
dtype: object

In [16]:
df.isna().sum()

gender                         0
race/ethnicity                 0
parental level of education    0
lunch                          0
test preparation course        0
math score                     0
reading score                  0
writing score                  0
dtype: int64

In [19]:
df['math score'],['reading score']

(0      72
 1      69
 2      90
 3      47
 4      76
        ..
 995    88
 996    62
 997    59
 998    68
 999    77
 Name: math score, Length: 1000, dtype: int64,
 ['reading score'])

In [20]:
df['gender'].value_counts()

gender
female    518
male      482
Name: count, dtype: int64

In [23]:
df['lunch'].unique()

array(['standard', 'free/reduced'], dtype=object)

In [24]:
df['math score'] > 80

0      False
1      False
2       True
3      False
4      False
       ...
995     True
996    False
997    False
998    False
999    False
Name: math score, Length: 1000, dtype: bool

In [25]:
df['writing score'] < 50

0      False
1      False
2      False
3       True
4      False
       ...
995    False
996    False
997    False
998    False
999    False
Name: writing score, Length: 1000, dtype: bool

In [27]:
df['test preparation course'] = 'completed'

In [28]:
df

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,completed,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,completed,90,95,93
3,male,group A,associate's degree,free/reduced,completed,47,57,44
4,male,group C,some college,standard,completed,76,78,75
...,...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,88,99,95
996,male,group C,high school,free/reduced,completed,62,55,55
997,female,group C,high school,free/reduced,completed,59,71,65
998,female,group D,some college,standard,completed,68,78,77
999,female,group D,some college,free/reduced,completed,77,86,86

In [29]:
df['gender'] = 'female' and df['writing score'] > 70

In [30]:
df

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,True,group B,bachelor's degree,standard,completed,72,72,74
1,True,group C,some college,standard,completed,69,90,88
2,True,group B,master's degree,standard,completed,90,95,93
3,False,group A,associate's degree,free/reduced,completed,47,57,44
4,True,group C,some college,standard,completed,76,78,75
...,...,...,...,...,...,...,...,...
995,True,group E,master's degree,standard,completed,88,99,95
996,False,group C,high school,free/reduced,completed,62,55,55
997,False,group C,high school,free/reduced,completed,59,71,65
998,True,group D,some college,standard,completed,68,78,77
999,True,group D,some college,free/reduced,completed,77,86,86

In [31]:
df['lunch'] = 'free/reduced'

In [37]:
x = df['math score'].mean()

In [38]:
x

np.float64(66.089)

In [39]:
max = df['reading score'].max

In [40]:
min = df['writing score'].min

In [41]:
df.columns

Index(['gender', 'race/ethnicity', 'parental level of education', 'lunch',
       'test preparation course', 'math score', 'reading score',
       'writing score'],
      dtype='object')

In [46]:
df.groupby('race/ethnicity').count()

,gender,parental level of education,lunch,test preparation course,math score,reading score,writing score
race/ethnicity,,,,,,,
group A,89,89,89,89,89,89,89
group B,190,190,190,190,190,190,190
group C,319,319,319,319,319,319,319
group D,262,262,262,262,262,262,262
group E,140,140,140,140,140,140,140

In [51]:
df.groupby('gender')['writing score'].mean()

gender
False    56.998162
True     81.243421
Name: writing score, dtype: float64

In [62]:
df['math score'].sort_values(ascending=False).head(10)

451    100
458    100
962    100
149    100
623    100
625    100
916    100
114     99
263     99
306     99
Name: math score, dtype: int64

In [63]:
# Create a new column named total_score, which is the sum of math score,
# reading score, and writing score.
df['total_score'] = df['math score'] + df['reading score'] + df['writing score']

In [64]:
# Create a new column named average_score (total score divided by 3)
df['average_score'] = df['total_score'] / 3

In [65]:
# Add a column named result. A student passes if their average_score is 60 or
# above; otherwise, they fail. (Hint: Use a conditional function or lambda expression).
# # 4. Find the top 5 students based on their total_score.
df['result'] = np.where(df['average_score'] >= 60, 'pass', 'fail')

In [67]:
# Find the bottom 5 students based on their math score.
df.sort_values(by='math score', ascending=True).head(5)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score,total_score,average_score,result
59,False,group C,some high school,free/reduced,completed,0,17,10,27,9.000000,fail
980,False,group B,high school,free/reduced,completed,8,24,23,55,18.333333,fail
17,False,group B,some high school,free/reduced,completed,18,32,28,78,26.000000,fail
787,False,group B,some college,free/reduced,completed,19,38,32,89,29.666667,fail
145,False,group C,some college,free/reduced,completed,22,39,33,94,31.333333,fail